<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content=width=device-width, initial-scale=1" />
		<title>{% block title %} Title {% endblock %}</title>
		{% block styles %}{% endblock %}
	</head>
	
	<body>
		<header>
			<h1>Recipe Book</h1>
			<!-- {% if request.user.is_authenticated %}
				<form method="POST" action="/accounts/logout/">
					{% csrf_token %}
					{{ form.as_p }}
					<button type="submit">Logout</button>
				</form>
			{% else %}
				<a href="/accounts/login">Login</a>
			{% endif %} -->
		</header>

		<h2>{% block page_heading %}{% endblock %}</h2>

		{% block content %}
		{% endblock %}
	</body>
</html>